# Files and folders to be ignored:

data/*

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

.Rhistory
*/.Rhistory
*/*/.Rhistory
*/*/*/.Rhistory

.RData
*/.RData
*/*/.RData
*/*/*/.RData

data_prep/__pycache__/
data_prep/.ipynb_checkpoints/
labelling/scripts//.ipynb_checkpoints/
models/.ipynb_checkpoints/

models/.floydignore
models/floydexpt

labelling/scripts/nohup.out

writeup/main.aux
writeup/main.log
writeup/main.out
writeup/main.pdf
writeup/main.synctex.gz
writeup/main.toc

.floydexpt
*/.floydexpt
*/*/.floydexpt
*/*/*/.floydexpt

.floydignore
*/.floydignore
*/*/.floydignore
*/*/*/.floydignore
